body{
	padding-top:120px;
	font-family:Arial;
	
}
.conteiner{widht: 500px;
margin: 0 Auto;

}
a:link, a:visited{
	color: slateGrey;
	text-decoration:none;
	border-bottom:1px dotted slateGray;
} 	` 
a:hover{
	color:#444;
	border-bottom-color: #444;
}